In [ ]:
#List: A List is a set of elements used in programming, separated by commas and enclosed with sqare brackets.

In [ ]:
A = [1,2,3,4,5]
print (A);

[1, 2, 3, 4, 5]

In [ ]:
#Dict: Dict is a term for the  Dictionary Data type in python. It can be created by placing values inside {}. 
#As normal dictionary does python dictionary also stores the key, and the value like a word and its meaning.

In [ ]:
Dict = {1:'Apple',2:'Balloon'};
print (Dict.get(1));
print (Dict.get(2));
#As python was a dynamically interpreted language, it executes the command step-by-step.

Apple
Balloon

In [ ]:
#Tuple:  A Tuple is a set of elements used in programming, separated by commas and enclosed with parenthesis. It cannot be mutable,once created. So, it was used in the fields of Security where it is needed,
#anonymous cannot change the values inside the tuple.

In [ ]:
Tuple = (1,2,3,4,5)
print (Tuple);

(1, 2, 3, 4, 5)

In [ ]:
#A set is  created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.

#It can have any number of items and they may be of different types (integer, float, tuple, string etc.) And elements won't get repeated inside the set.

In [ ]:
Set = {1,2,3,4,5,6}
print (Set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#String : String was a data type in python. It is generally known as the sequence of characters i single or double quotes.

In [ ]:
String = "Welcome to Ansar's Colab"
print (String)

Welcome to Ansar's Colab